/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    height:100vh; 
    display: grid;
    grid-template-rows: 5rem 2.5rem 1fr 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header"
    "menu menu"
    "content content"
    "footer footer";
}

#main-header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#01aeef,#eb8fbc);
    padding: 15px 0;
}

#main-nav {
    grid-area: menu;
    display: flex;
    align-items: center;
    background-color: #eb8fbc;
    padding-left: 15px;
}

#main-nav > ul {
    display: flex;
}

#main-nav li > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 5px; 
}

#main-nav li > a:hover,
#main-nav li > a:focus {
    color: #d6d6d6e5;
    text-decoration: underline
}

#main-content {
    grid-area: content;
    display: flex;
    justify-content: center;
    padding: 20px 5px; 
}

#footer {
    display: flex;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top,#01aeef,#eb8fbc);
    font-size: 14px;
}

#team {
    margin-left: 3px;
    font-family: 'Festive', cursive;
}
